@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript">
    var voices = speechSynthesis.getVoices();

    function speak() {
        var speechText = document.getElementById('speech-text').value;
        var uttr = new SpeechSynthesisUtterance();

        if (!voices || !voices.length) {
            voices = speechSynthesis.getVoices();
        }

        var voice = voices.find(_ => _.lang === 'ja-JP');
        uttr.voice = voice;

        uttr.volume = document.getElementById('speech-volume').value; // 音量 min 0 ~ max 1
        uttr.rate = document.getElementById('speech-rate').value; // 速度 min 0 ~ max 10 (3.6を越えるとちゃんと動かない。。。)
        uttr.pitch = document.getElementById('speech-pitch').value; // 音程 min 0 ~ max 2
        uttr.lang = 'ja-JP';
        uttr.text = speechText;

        speechSynthesis.cancel();
        speechSynthesis.speak(uttr);
    }
</script>
<div class="text-center">
    <div>
        <input id="speech-text" placeholder="Input speech text." />
        <button onclick="speak()">Speak!</button>
    </div>
    <div style="margin: 10px">
        <div>
            <label>Volume [0-1]</label>
            <input id="speech-volume" type="range" min="0" max="1" step="0.1" value="1" />
        </div>
        <div>
            <label>Rate [1-10]</label>
            <input id="speech-rate" type="range" min="0" max="10" step="1" value="1" />
        </div>
        <div>
            <label>Pitch [0-2]</label>
            <input id="speech-pitch" type="range" min="0" max="2" step="0.5" value="1" />
        </div>

    </div>
</div>